.container-sm {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right:50px;
    margin-left:50px;
    
}

.page-keunggulan{
    width: 100%;
    margin-bottom: 20px;
}
.teks-icon{
    display: inline-block;
    font-size: 20px;
}
.title-keunggulan{
    margin-top: 20px;
    color: #5739CF;
}

.card-content-keunggulan {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
    
}

.card-map-keunggulan {
    width: 30%;
    margin-right: 20px;
    margin-left: 10px;
}

.card-map-keunggulan img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-top: 5px;
}

.card-description-keunggulan {
    width: 70%;
    overflow-y: auto;
    transition: height 0.3s ease-in-out;
}


.card-description-keunggulan p {
    margin-bottom: 10px;
}

.card-description-keunggulan button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.card-keunggulan {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background: #EEE7E7;
}

@media (max-width: 768px) {
    .card-content-keunggulan {
        flex-direction: column; /* Mengatur tata letak menjadi kolom */
        align-items: center; /* Memusatkan item di tengah */
    }

    .card-description-keunggulan p{
        text-align: justify;
    }

    .card-map-keunggulan,
    .card-description-keunggulan {
        width: 90%; /* Mengatur lebar menjadi penuh */
        margin: 0; /* Menghapus margin */
    }

    .card-map-keunggulan img {
        margin-top: 10px; /* Mengatur margin atas gambar */
    }
}
