.admin-artikel-container {
  flex: 6;
  margin: 0 auto;
  margin-left: 200px;
  height: auto;
  margin-top: 60px;
  max-width: 100%;
  overflow-x: auto;
}

.admin-artikel-list {
  width: 70%;
  margin: auto;
}

.title-admin-artikel {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  padding: 3px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.add-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 200px;
}

.add-button i {
  margin-right: 5px;
  font-size: 25px;
  background-color: #8F9A93;
}

.add-button p {
  font-size: 16px;
  margin-left: 5px;
  font-weight: 600;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search label {
  font-size: 16px;
  font-weight: 600;
  display: none;
}

.search i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search input[type="text"] {
  margin-left: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-tambah, .form-edit {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.form-tambah h2, .form-edit h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.artikel-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.artikel-table th, .artikel-table td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

.artikel-table th {
  background-color: #f2f2f2;
}

.artikel-table td img.image-artikel {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.form-tambah button, .form-edit button {
  margin-right: 10px;
}
