.struktur-judul {
    text-align: center;
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; /* Mengatur margin untuk pusat */
}



@media (max-width: 768px) {
    .container {
        justify-content: flex-start;
        align-items: center;
    }

    .struktur-card {
        width: calc(50% - 10px);
        margin: 5px;
    }

    .card-image-struktur {
        height: 200px; /* Ubah tinggi gambar untuk mode layar kecil */
    }
}
