.dashboard-container {
    max-width: 100%;
    flex: 6;
    margin-top: 50px;
    margin-left: 200px; /* Tambahkan margin kiri untuk mengisi ruang kosong di sebelah sidebar */
}

.dashboard-title {
    font-size: 16px;
    margin-top: 20px;
    padding: 5px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Mengizinkan kartu untuk melintas baris ketika ukuran layar kecil */
    margin-top: 20px;
}

.card {
    border: 5px solid #007258;
    border-radius: 10px;
    width: calc(50% - 20px); /* Mengatur lebar kartu menjadi setengah lebar kontainer dengan margin */
    max-width: 300px; /* Batasi lebar maksimum kartu */
    height: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Ubah margin menjadi 10px agar kartu tidak terlalu rapat */
}

.title-card {
    margin-bottom: 10px;
    padding: 5px;
}

.data-card {
    font-size: 40px;
    color: #494949;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }

    .data-card {
        font-size: 30px; /* Ubah ukuran font menjadi 30px */
        padding: 5px;
    }

    .title-card {
        font-size: 18px; /* Ubah ukuran font menjadi 18px */
    }
    .dashboard-container {
        margin-left: 0; /* Menghilangkan margin kiri saat layar kecil */
    }

}
