.card-sejarah {
    display: flex;
    flex-direction: column; /* Ubah menjadi kolom agar konten bisa di-scroll */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%; /* Lebar card */
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #EEE7E7;
    overflow: hidden; /* Mengatur overflow menjadi hidden */
  }
  
  .card-content {
    display: flex;
    width: 100%; /* Lebar konten */
    padding: 20px;
  }
  
  .card-map{
    width: 100%; /* Lebar peta */
    height: 300px; /* Tinggi peta */
  }
  .card-map iframe{
    width: 100%;
    height: 300px;
    border-radius: 7px;
  }

  @media (max-width: 768px) {
    .card-content {
      flex-direction: column; /* Ubah menjadi kolom agar konten bisa di-scroll */
    }
  
    .card-map {
      width: 100%; /* Lebar peta diubah menjadi 100% agar sesuai dengan lebar konten */
      height: auto; /* Tinggi peta diubah menjadi otomatis agar sesuai dengan lebar konten */
    }
  }
  