.footer {
  background-color: #5E75EC; /* Warna latar belakang footer */
  color: #fff; /* Warna teks */
  padding: 20px 0; /* Padding atas dan bawah */
}

.footer-container {
  max-width: 1200px; /* Lebar maksimum konten */
  margin: 0 auto; /* Posisi tengah */
}

.row {
  display: flex; /* Menggunakan flexbox untuk layout */
  justify-content: space-between; /* Menyusun item ke sisi kiri dan kanan */
}

.col {
  flex: 1; /* Mengisi ruang yang tersedia */
  margin-right: 50px;
  margin-left: 50px;
}

.footer-list {
  list-style-type: none; /* Menghilangkan tanda list */
  padding: 0;
}

.footer-list li {
  margin-bottom: 10px; /* Margin bawah setiap item */
}

.footer-list a {
  color: #fff; /* Warna teks untuk link */
  text-decoration: none; /* Menghilangkan garis bawah pada link */
}

.footer-list a:hover {
  color: #ccc; /* Warna teks saat hover */
}

.social-icons {
  margin-top: 10px;
  display: flex;
}

.social-icons a {
  font-size: 24px;
  color: #fff;
  transition: color 0.3s ease; /* Smooth transition */
  margin-right: 5px;
}
.social-icons span{
  font-size: 17px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.social-icons a:hover {
  color: #fff; /* Change color on hover */
}

.social-icons a:last-child {
  margin-right: 0; /* Hapus margin di sebelah kanan ikon terakhir */
}

hr {
  border-color: #fff; /* Warna garis pemisah */
  margin-top: 20px;
}

.copyright{
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}



@media (max-width: 768px) {
  .row {
    flex-direction: column; /* Mengubah layout menjadi vertikal pada layar kecil */
  }

  .col {
    margin-bottom: 20px; /* Margin bawah antar kolom pada layar kecil */
  }
}
