.page-sejarah{
    width: 100%;
}
.teks-icon{
    display: inline-block;
    font-size: 20px;
}
.title-sejarah{
    margin-top: 20px;
    color: #5739CF;
}
.image-sejarah{
    width: 1200px;
    height: 300px;
    margin-top: 20px;
}
.list-sejarah{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.deskripsi{
    margin-bottom: 20px;
    text-align: justify;
}
.sejarah-deskripsi{
    margin-top: 10px;
    text-align: justify;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .image-sejarah {
        width: 100%; /* Mengatur lebar gambar menjadi 100% dari lebar layar */
        height: auto; /* Mengatur tinggi gambar agar proporsional */
        margin: 10px auto; /* Mengatur margin atas dan bawah, dan memusatkan gambar */
    }

    .page-sejarah {
        margin-top: 10px; /* Mengurangi margin atas */
    }


    .list-sejarah {
        margin-left: 10px; /* Mengurangi margin kiri */
    }

    .deskripsi,
    .sejarah-deskripsi {
        margin: 0 10px; /* Mengurangi margin kiri dan kanan */
        margin-bottom: 20px;
    }
}
