.page-kategori-produk {
    width: 100%;
}
.teks-icon {
    display: inline-block;
    font-size: 20px;
}
.title-kategori {
    margin-top: 20px;
    color: #5739CF;
}
.card-image {
    width: 100%; /* Lebar gambar */
    height: 200px; /* Menyesuaikan tinggi gambar secara otomatis */
    border-radius: 5px; /* Membuat sudut gambar menjadi bulat */
    margin-top: 10px;
}
.card-kategori-container {
    display: flex;
    justify-content: center;
}
.card-kategori {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Mengatur 4 kolom */
    gap: 10px;
    justify-items: center; /* Memastikan item di tengah kolom */
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
    max-width: 1000px; /* Membatasi lebar maksimum grid */
}
.kategori-card {
    width: 100%; /* Lebar kartu 100% dari kolom */
    max-width: 200px; /* Lebar maksimum kartu */
    margin: 5px;
    border: 1px solid #ccc; /* Garis pinggir kartu */
    border-radius: 8px; /* Membuat sudut kartu menjadi bulat */
    padding: 10px; /* Ruang dalam kartu */
    display: flex; /* Menggunakan flexbox untuk mengatur posisi tombol */
    flex-direction: column; /* Mengatur arah konten ke vertikal */
    justify-content: space-between; /* Menyusun konten secara vertikal dan memberikan ruang antara judul dan tombol */
    align-items: center;
}

.card-title-produk {
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    background-color: #D2D5D7; /* Warna latar belakang tombol */
    color: #000; /* Warna teks tombol */
    border: none; /* Menghapus border tombol */
    padding: 10px 20px; /* Ruang dalam tombol */
    border-radius: 20px; /* Membuat sudut tombol menjadi bulat */
    cursor: pointer; /* Mengubah kursor saat diarahkan ke tombol */
    transition: background-color 0.3s; /* Efek transisi untuk perubahan warna latar belakang */
    margin-top: 10px;
    margin-bottom: 5px;
    width: 150px;
}

button:hover {
    background-color: #D2D5D7; /* Warna latar belakang tombol saat dihover */
    color: #000;
}

@media (max-width: 768px) {
    .card-kategori {
        grid-template-columns: repeat(2, 1fr); /* Mengatur 2 kolom untuk perangkat kecil */
    }
    .kategori-card {
        margin: 5px; /* Mengurangi margin kartu */
    }
    .card-image {
        height: 130px;
    }
    .card-title-produk {
        font-size: 16px;
    }
    button {
        padding: 5px 5px;
        width: 100px;
    }
}
