.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.page-all-produk{
    margin-top: 100px;
    margin-left: 30px;
    width: 100%;
}

.title-produk{
    margin-top: 20px;
    color: #5739CF;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin: 20px;
    margin-top: 100px;
    height: 350px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.card-images {
    width: 250%;
    height: 150px;
    object-fit: contain;
}

.card-title {
    font-size: 20px;
    margin-top: 10px;
}

.detail-button {
    background-color: #D2D5D7; /* Warna latar belakang tombol */
    color: #000; /* Warna teks tombol */
    border: none; /* Menghapus border tombol */
    padding: 10px 20px; /* Ruang dalam tombol */
    border-radius: 20px; /* Membuat sudut tombol menjadi bulat */
    cursor: pointer; /* Mengubah kursor saat diarahkan ke tombol */
    transition: background-color 0.3s; /* Efek transisi untuk perubahan warna latar belakang */
    /* margin-top: 10px; */
    margin-bottom: 30px;
    width: 150px;
}

.detail-button:hover{
    background-color: #D2D5D7; /* Warna latar belakang tombol saat dihover */
    color: #000;
}