.page-detail {
    display: flex;
    flex-direction: column;
    height: 700px; /* Tetapkan tinggi konstan untuk wadah */
    width: 100%; /* Tetapkan lebar konstan untuk wadah */
    margin: 0 auto; /* Tengahkan wadah secara horizontal */
    margin-top: 90px;
    padding-left: 50px; /* Tambahkan padding untuk menggantikan margin kiri */
    padding-right: 50px; 
}

.judul-detail{
    margin-top: 5px;
}

.title-detail{
    margin-top: 20px;
    color: #5739CF;
}

.detail-image img {
    width: 100%; /* Buat gambar mengisi wadah gambar */
    height: 400px; /* Biarkan gambar menyesuaikan tingginya sambil mempertahankan rasio aspek */
    max-width: calc(100% - 500px);
    margin-top: 20px;
}   

.detail-teks {
    width: 100%; /* Buat wadah teks mengisi wadah utama */
    /* Tambahkan padding untuk penataan yang lebih baik */
    box-sizing: border-box; /* Termasuk padding dan border dalam perhitungan lebar / / Membuat margin kiri menjadi 0 */
}

.detail-teks h2 {
    font-size: 24px; /* Ukuran teks untuk judul */
    margin-top: 10px;
}

.detail-teks p {
    font-size: 16px; /* Ukuran teks untuk paragraf */
    line-height: 1.6; /* Jarak antar baris */
    margin-bottom: 10px; /* Spasi bawah untuk paragraf */
}