    .container-sm {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .page-all-produk{
        width: 100%;
    }

    .title-produk{
        margin-top: 20px;
        color: #5739CF;
    }

    .card-produk {
        overflow-x: auto; /* Menambahkan scrollbar horizontal jika konten melebihi lebar */
        display: flex;
        flex-wrap: wrap; /* Mengatur agar kartu-kartu bisa pindah ke baris baru */
        justify-content: center;
        margin-bottom: 20px;
    }

    .produk-card {
        width: 220px; /* Lebar kartu */
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 20px; /* Jarak antara kartu */
        border: 1px solid #ccc; /* Garis pinggir kartu */
        border-radius: 8px; /* Membuat sudut kartu menjadi bulat */
        padding: 10px; /* Ruang dalam kartu */
        display: flex; /* Menggunakan flexbox untuk mengatur posisi tombol */
        flex-direction: column; /* Mengatur arah konten ke vertikal */
        justify-content: space-between; /* Menyusun konten secara vertikal dan memberikan ruang antara judul dan tombol */
        align-items: center;
    }

    .card-images {
        width: 200px; /* Sesuaikan lebar gambar dengan lebar card */
        height: 200px; /* Biarkan tinggi gambar menyesuaikan proporsi */
        border-radius: 8px; /* Tambahkan border-radius jika diperlukan */
        object-fit: cover;
    }

    .card-title-produkall {
        font-size: 20px;
        margin-top: 10px;
    }

    .detail-button {
        width: 100%; /* Tombol akan mengisi seluruh lebar card */
        margin-top: 20px; /* Membuat tombol berada di bagian bawah card */
        margin-bottom: 10px; /* Jarak antara tombol dan konten lainnya */
        background-color: #D2D5D7; /* Warna latar belakang tombol */
        color: #000; /* Warna teks tombol */
        border: none; /* Menghapus border tombol */
        padding: 10px 20px; /* Ruang dalam tombol */
        border-radius: 20px; /* Membuat sudut tombol menjadi bulat */
        cursor: pointer; /* Mengubah kursor saat diarahkan ke tombol */
        transition: background-color 0.3s; /* Efek transisi untuk perubahan warna latar belakang */
    }

    .detail-button:hover{
        background-color: #D2D5D7; /* Warna latar belakang tombol saat dihover */
        color: #000;
    }

    .kategori-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; /* Untuk memberikan jarak dari konten di bawahnya */
        margin-top: 20px;
      }
      
      .kategori-buttons button {
        margin: 0 5px; /* Memberikan jarak antara tombol */
        padding: 5px;
        font-size: 16px;
        background-color: #D2D5D7; /* Warna latar belakang */
        color: #000; /* Warna teks */
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .kategori-buttons button:hover {
        background-color: #ccc; /* Warna latar belakang saat digulir */
      }

      .kategori-buttons button:last-child {
        margin-right: 0; /* Hapus margin kanan pada tombol terakhir */
      }

      .search-bar {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
    .search-input-container {
        position: relative;
    }
    
    .search-input-container input {
        width: 100%;
        max-width: 300px;
        height: 30px;
        padding: 15px 25px 15px 15px; /* Adjust padding to make room for icon */
        border-radius: 15px;
        border: 1px solid #000;
        font-size: 16px;
    }
    
    .search-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    

    @media (max-width: 768px) {
        .kategori-buttons {
            flex-wrap: wrap; /* Membungkus tombol kategori jika tidak muat di satu baris */
            justify-content: center; /* Pusatkan tombol kategori */
        }
        
        .kategori-buttons button {
            margin: 5px;
        }
    
        .search-bar {
            flex-direction: column; /* Ubah arah menjadi vertikal */
            align-items: center; /* Pusatkan input pencarian */
        }
    
        .search-icon {
            right: 15px; /* Geser ikon ke kanan */
        }

        .produk-card{
            margin: 5px;
            width: calc(50% - 10px); /* Lebar kartu (50% - margin) */
        }
        .card-images {
            height: 130px; /* Ubah tinggi gambar pada ukuran layar kecil */
            width: 120px;
        }   

        .card-title-produkall{
            font-size: 16px;
        }
    }
    

      

      