/* CSS untuk layout blog dan sidebar */
.blog {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}

.main-content {
  width: 60%; /* Lebar konten utama */
  margin-right: 30px; /* Margin kanan antara konten utama dan sidebar */
}

.sidebar {
  width: 35%; /* Lebar sidebar */
  max-height: calc(3 * 170px); /* Assume each item is 150px tall, adjust as necessary */
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Gaya untuk postingan blog */
.blog-post {
  margin-bottom: 40px;
}

.blog-post h2 {
  margin-bottom: 10px;
}

.blog-post p {
  margin-bottom: 5px;
  text-align: justify;
}

.blog-post img {
  width: 100%; /* Lebar gambar mengisi lebar konten utama */
  height: 300px;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer; /* Ganti kursor saat mengarah ke item sidebar */
}

.sidebar-thumbnail {
  width: 150px; /* Lebar gambar thumbnail, sama dengan lebar sidebar */
  height: auto; /* Tinggi gambar menyesuaikan proporsi */
  float: left; /* Letakkan gambar di sebelah kiri sidebar */
  margin-right: 10px; /* Jarak kanan gambar dari deskripsi */
  max-width: 100%; /* Batasi lebar maksimum gambar */
  margin-top: 10px;
}

.sidebar-content {
  overflow: auto; /* Mengatasi float dengan overflow */
}

.sidebar-content h3 {
  margin: 0;
}

.sidebar-content p {
  margin: 0;
}

.read-more-button1, .read-more-button2 {
  background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.read-more-button1:hover, .read-more-button2:hover {
  color: #0056b3;
}

@media only screen and (max-width: 768px) {
  .blog {
    flex-direction: column; /* Mengubah tata letak menjadi kolom saat lebar layar kecil */
  }
  
  .main-content, .sidebar {
    width: 100%; /* Mengisi lebar penuh saat lebar layar kecil */
    margin-right: 0; /* Menghapus margin kanan pada konten utama */
  }

  .sidebar {
    margin-top: 10px; /* Mengurangi margin atas pada sidebar */
  }
}
