.profildesa-container {
    text-align: center;
    margin: 0 auto; /* Menengahkan container horizontal */
    width: 800px; /* Membatasi lebar maksimal container */
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Menengahkan vertikal */
    max-width: 400px; /* Menentukan lebar maksimal container tombol */
    margin: 0 auto; /* Menengahkan secara horizontal */
    min-width: 250px; /* Lebar minimum tombol */
    max-width: 600px; /* Lebar maksimum tombol */
  }
  
  .buttons-container button {
    margin: 20px 10px;
    padding: 8px 20px;
    background-color: #D3D5D6;
    color: #000;
    font-weight: 800;
    border: none;
    cursor: pointer;
  }
  
  .buttons-container button:hover {
    background-color: #D3D5D6;
  }
  
  .form-container {
    text-align: left;
    margin-top: 10px;
  }
  
  .form-container label,
  .form-container input{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .form-container textarea {
    width: 100%;
    resize: none;
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;
  }
  
  .form-container input[type="file"] {
    margin-top: 10px;
  }
  
  .form-container button[type="submit"] {
    margin-top: 10px;
    background-color: #D3D5D6;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: #D3D5D6;
    
  }
  
  @media screen and (max-width: 768px) {
    .profildesa-container {
      max-width: 90%; /* Mengatur lebar maksimal container untuk layar kecil */
    }
  
    .buttons-container {
        flex-direction: column; /* Mengatur tata letak tombol menjadi vertikal saat layar kecil */
      }
    
      .buttons-container button {
        width: 80%; /* Mengatur lebar tombol agar mengisi hampir seluruh lebar container */
        margin: 15px 10px; /* Menengahkan secara horizontal */
      }
  }