.main-carousel {
    width: 100%;
    margin-top: 80px;
}

@media (max-width: 600px) {
    .main-carousel .carousel .slide img {
        height: 200px;
        object-fit: cover;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .main-carousel .carousel .slide img {
        height: 400px;
        object-fit: cover;
    }
}

@media (min-width: 1025px) {
    .main-carousel .carousel .slide img {
        height: 550px;
        object-fit: cover;
    }
}
.banner {
    margin-top: 70px; /* adjust as needed */
}